:root {
    --color-text: #212121;
    --background-color: #2f303a;
    --color-accent: #757575;
    --color-blak: #000000;
    --color-title-second: #ffffff;
    --backround-title: #f5f4fa;
    --color-title: #ececec;
    --title-accent: #eeeeee;
    --color-logo: #2196f3;
    --background-color-btn: #118ce8;
    --transparency: #ffffff99;
    --color-icon-fix: #afb1b8;
}