.command {
    background-color: var(--backround-title);
}

.command__title {
    margin-bottom: 50px;
    color: var(--color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.command__list {
    display: flex;
    gap: 30px;
}

.command__link {
    background: var(--color-title-second);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.command__name {
    margin-bottom: 10px;
    color: var(--color-blak);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.command__text {
    margin-bottom: 16px;
    color: var(--color-accent);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.command__cmd {
    padding-top: 30px;
    padding-bottom: 30px;
}

/******************Socials icon*****************/

.command__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.command__socials-link {
    display: flex;
    width: 44px;
    height: 44px;
    color: var(--color-icon-fix);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: var(--color-logo);
        color: var(--backround-title);
    }
}

.command__icon {
    fill: currentColor;
}