.ftr-container .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__list {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.features__link {
    display: flex;
    background-color: var(--color-title-second);
    box-sizing: border-box;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: var(--backround-title);
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 10px;
    color: var(--color-text);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__text {
    color: var(--color-accent);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}