body {
    font-family: roboto, sans-serif;
    background-color: var(--color-title-second);
    color: var(--color-text);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.no-scroll {
    overflow: hidden;
}
